
:root{
    --background-color: #1d1d1d;
    --background-light: #fff;
    --shadow-color: 0 5px 10px rgba(0,0,0,0.1);
    --primary-color: rgb(38, 0, 255);
    --text-color: rgb(178, 154, 17);
    --text-color-orange:  #fb774b;
    --text-light: #D8D9D8;
    --font-size: 16px;
    --animation-speed: 1;
}



.cart table{
   width: 100%;
   border-collapse:collapse;/*it makes your table look more like a single, cohesive grid instead of a collection of individual cells with separate borders.*/
}
.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color: var(--background-light);
   background-color: var(--text-color-orange);
}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px ;
}
.cart td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
.cart td a{
    color: var(--text-color-orange);
}
.cart .remove-btn{
    color: var(--text-color-orange);
    text-decoration: none;
    font-size: 14px;
}
.cart .edit-btn{
    color: var(--text-color-orange);
    text-decoration: none;
    font-size: 15px;
}
.cart .product-info p{
    margin: 3px;
}
.cart-total{
    display: flex;
    justify-content:flex-end ;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid var(--text-color-orange)  ;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.checkout-container{
       display: flex;
    justify-content: flex-end;
}
.checkout-btn{
 
    background-color: var(--text-color-orange);
    color: var(--background-light);
}
