
:root{
    --background-color: #1d1d1d;
    --background-light: #fff;
    --shadow-color: 0 5px 10px rgba(0,0,0,0.1);
    --primary-color: rgb(38, 0, 255);
    --text-color: rgb(178, 154, 17);
    --text-color-orange:  #fb774b;
    --text-light: #D8D9D8;
    --font-size: 16px;
    --animation-speed: 1;
}


body {
    overflow-x: hidden;
}



.cart table{
   width: 100%;
   border-collapse:collapse;/*it makes your table look more like a single, cohesive grid instead of a collection of individual cells with separate borders.*/
}
.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 11px;
    color: var(--background-light);
   background-color: var(--text-color);
}
.cart td{
    padding: 10px 10px;
}
.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px ;
}

.cart .td-form{
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 3px; */
   }

.cart td input{
    /* width: 40px; */
    height: 30px;
    padding: 5px;
}

/* .cart input[name='product_quantity'] {
    width: 112%;
} */
.backToHome-et-checkout{
    float: right;
     display: flex;
     justify-content:center; 
     align-items:center;
     gap: 7px 
}
.cart .nav-link{
    background: var(--background-light); 
    color: var(--text-color); 
    padding: 10px 20px;
    border: solid var(--text-color);
    border-radius: 5px;
}

.cart input[name='checkout'] {
    background: rgb(178, 154, 17); 
    color: white; 
    padding: 10px 20px;
    border:solid var(--background-light);
    border-radius: 5px;
}

.cart td a{
    color: var(--text-color-orange);
}
.cart .remove-btn{
    color: var(--text-color-orange);
    background: var(--text-color);
     color:var(--background-light);
}
.cart .edit-btn{
    color: var(--text-color-orange);
    text-decoration: none;
    font-size: 15px;
}
.cart .product-info p{
    margin: 3px;
}
.cart-total{
    display: flex;
    justify-content:flex-end ;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid var(--text-color-orange)  ;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.checkout-container{
       display: flex;
    justify-content: flex-end;
}
.checkout-btn{
 
    background-color: var(--text-color-orange);
    color: var(--background-light);
}




@media only screen and ( max-width: 765px){
   /* .cart{
    display: none;
   } */

   /* .cart input[name='product_quantity'] {
    width: 112%;
 } */
 .td-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
   }
   /* td .td-price{
   
    }  */
}




/* Making the input responsive */
@media ( min-width: 412px){
    .cart input[name='product_quantity'] {
     width: 56.5%;
   }
   .cart td{
    padding: 8px 1px;
   }
 
 }
@media ( min-width: 766px){
  
    .cart input[name='product_quantity'] {
     width: 31%;
   }
 }
@media ( min-width: 994px){
    .cart input[name='product_quantity'] {
     width: 13%;
   }
 }
@media ( min-width: 1403px){
    .cart input[name='product_quantity'] {
     width: 9.5%;
   }
 }
